<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>To Ship</h1>
        <p>return, refund ,completed,cancelled</p>
    </div>
    <div class="row">
        <table> 
            <thead>
                <tr>
                    <th scope="col" class="text-start">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <body>
                <tr>
                    <td>
                        <div class="product-info">
                            <img src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/MUW33?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1712255584823" alt="images" class="product-image">
                            <span class="product-name">Beats Solo 4 — On-Ear Wireless Headphones – Cloud Pink</span>
                        </div>
                    </td>
                    <td>1</td>
                    <td>$167.00</td>
                    <td>SHIPPING</td>
                </tr>
                <tr>
                    <td>
                        <div class="product-info">
                            <img src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/MA7E4_AV2?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1723930328743" alt="images" class="product-image" alt="images" class="product-image">
                            <span class="product-name">iPhone 16 Pro Clear Case with MagSafe</span>
                        </div>
                    </td>
                    <td>1</td>
                    <td>$17.00</td>
                    <td>SHIPPING</td>
                </tr>
                <tr>
                    <td>
                        <div class="product-info">
                            <img src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/MUW33?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1712255584823" alt="images" class="product-image">
                            <span class="product-name">Beats Solo 4 — On-Ear Wireless Headphones – Cloud Pink</span>
                        </div>
                    </td>
                    <td>1</td>
                    <td>$19.00</td>
                    <td>Canceled</td>
                </tr>
            </body>
        </table>
        <div class="text-center mt-3">
            <button class="btn btn-secondary">Back</button>           
        </div>
    </div>
</div>
<app-footer></app-footer>
