<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>HOME</h1>
        <p>view Products and images </p>
        <p>You can buy everyone</p>
    </div>

    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="Search StoreViet">
        <select class="form-control Product-Category">
            <option selected disabled>Product Category</option>
            <option>Store</option>
            <option>Mac</option>
            <option>iPad</option>
            <option>iPhone</option>
        </select>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/MUW33?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1712255584823"
                alt="Product Image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Connectivity:
                    Class 1 Wireless Bluetooth®
                    USB-C audio
                    3.5 mm analog input for wired audio sources
                    
                    Battery:
                    Beats Solo 4 (single charge): up to 50 hours of listening time³
                    Fast Fuel: a 10-minute charge provides up to 5 hours of playback⁴
                    </p>
                <p class="product-warranty">12 months warranty</p>
                <p class="product-price">$898</p>
                <div  class="product-actions">
                    <button class="btn btn-primary">Add to Bag</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/MA7E4_AV2?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1723930328743"
                alt="Product Image" class="product-image">
                <h3 class="product-name">Product 2</h3>
                <p class="product-description">
                    iPhone 16 Pro Clear Case with MagSafe</p>
                <p class="product-warranty">12 months warranty</p>
                <p class="product-price">$68</p>
                <div  class="product-actions">
                    <button class="btn btn-primary">Add to Bag</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/airpods-pro-2-hero-select-202409_FV1?wid=976&hei=916&fmt=jpeg&qlt=90&.v=1725492499003"
                alt="Product Image" class="product-image">
                <h3 class="product-name">Product 3</h3>
                <p class="product-description">
                    AirPods Pro 2
                    MagSafe Charging Case (USB-C) with speaker and lanyard loopFootnote^, ¹¹
                    Silicone ear tips (four sizes: XS, S, M, L)
                    USB-C Charge Cable
                    Documentation</p>
                <p class="product-warranty">12 months warranty</p>
                <p class="product-price">$523</p>
                <div  class="product-actions">
                    <button class="btn btn-primary">Add to Bag</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/5614135/pexels-photo-5614135.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                alt="Product Image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">MacBook Air sails through work and play — and the M3 chip brings even greater capabilities to the world’s most popular laptop</p>
                <p class="product-warranty">12 months warranty</p>
                <p class="product-price">$898</p>
                <div  class="product-actions">
                    <button class="btn btn-primary">Add to Bag</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/5614135/pexels-photo-5614135.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                alt="Product Image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">MacBook Air sails through work and play — and the M3 chip brings even greater capabilities to the world’s most popular laptop</p>
                <p class="product-warranty">12 months warranty</p>
                <p class="product-price">$898</p>
                <div  class="product-actions">
                    <button class="btn btn-primary">Add to Bag</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/5614135/pexels-photo-5614135.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                alt="Product Image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">MacBook Air sails through work and play — and the M3 chip brings even greater capabilities to the world’s most popular laptop</p>
                <p class="product-warranty">12 months warranty</p>
                <p class="product-price">$898</p>
                <div  class="product-actions">
                    <button class="btn btn-primary">Add to Bag</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/5614135/pexels-photo-5614135.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                alt="Product Image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">MacBook Air sails through work and play — and the M3 chip brings even greater capabilities to the world’s most popular laptop</p>
                <p class="product-warranty">12 months warranty</p>
                <p class="product-price">$898</p>
                <div  class="product-actions">
                    <button class="btn btn-primary">Add to Bag</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/5614135/pexels-photo-5614135.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                alt="Product Image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">MacBook Air sails through work and play — and the M3 chip brings even greater capabilities to the world’s most popular laptop</p>
                <p class="product-warranty">12 months warranty</p>
                <p class="product-price">$898</p>
                <div  class="product-actions">
                    <button class="btn btn-primary">Add to Bag</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/5614135/pexels-photo-5614135.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                alt="Product Image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">MacBook Air sails through work and play — and the M3 chip brings even greater capabilities to the world’s most popular laptop</p>
                <p class="product-warranty">12 months warranty</p>
                <p class="product-price">$898</p>
                <div  class="product-actions">
                    <button class="btn btn-primary">Add to Bag</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/5614135/pexels-photo-5614135.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                alt="Product Image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">MacBook Air sails through work and play — and the M3 chip brings even greater capabilities to the world’s most popular laptop</p>
                <p class="product-warranty">12 months warranty</p>
                <p class="product-price">$898</p>
                <div  class="product-actions">
                    <button class="btn btn-primary">Add to Bag</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>