<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1 class="intro-text-new">NEW</h1>
        <h1>iPhone 16 Pro Clear Case with MagSafe </h1>
        <p>From $399 or $33.25/mo. per monthfor 12 mo.monthsFootnote*</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExampleDark" class="carousel carousel-dark slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/MA7E4_AV2?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1723930328743"
                            alt="Product Image" class="product-image">    
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/MA7E4?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1723930332796"
                            alt="Product Image" class="product-image"> 
                    </div>
                    <div class="carousel-item">
                        <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/MT223?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1693248280978"
                            alt="Product Image" class="product-image">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-details">
                <h2>Desription</h2>
                <div><p>color(Select BoX)</p></div>
                <p>$49.00</p>
                <div class="product-quantity">
                    <div class="border-wrapper">
                        <button>-</button>
                        <input type="text" value="1">
                        <button>+</button>
                    </div>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Add to Bag</button>
                    <button class="btn btn-dark">Buy Now</button>
                </div>
                
            </div>
        </div>
    </div>
    <div class="divider"></div>
</div>
<app-footer></app-footer>